ВКР1.mkv
09.03.01_ПОСВТиАС_2019(3++).plm.xml.xls
09_03_01_Компетентностно_квалификационная_характеристика_выпускника.doc
57_РП_09_03_01_Шаблоны_проектирования_программного_обеспечения_22102021.docx
НГТУ_Порядок_разработки_рабочей_программы_дисциплины_04_2021.docx
